button:hover {
  color: rgb(205, 204, 204) !important;
}

.navbtn {
  background-color: rgba(128, 128, 128, 0) !important;
}

.active {
  border-bottom: 1px solid #f8f9fa;
}

.active:hover {
  border-bottom: 1px solid rgb(205, 204, 204);
}

/* #2c3e50 */